.header {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--yellow);
    margin: 3px 1.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo a h1 {
    font-family: Montez;
    color: var(--white);
    font-size: 4rem;
    margin-left: 1rem;
}

.logo a:hover {
    cursor: pointer;
    color: var(--yellow);
}

.menuItems {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    margin-right: 2vw;
}

.menuItem {
    color: var(--white);
    font-size: 2.5rem;
    text-decoration: none;
}

.menuItem:hover {
    cursor: pointer;
    color: var(--yellow);
}

nav a:active {
    color: var(--yellow);
}

@media screen and (max-width: 430px) {
    .menuItems {
        width: 60vw;
    }

}