main {
    margin-top: 10rem;
}

.home p {
    font-size: 10rem;
    margin: 0 5rem;
    font-weight: 600;
}

@media screen and (min-width: 900px) {
    .home p {
        font-size: 15rem;
    }

}

@media screen and (max-width: 430px) {
    main {
        margin-top: 5rem;
    }

    .home p {
        font-size: 5rem;
    }

}